@import 'tailwindcss';
* {
	box-sizing: border-box;
}
:root {
	--primary: #2984ff;
	--secondary: #eaf4ff;
	--foreground: #131834;
	--additional: #ffbb55;
}

@theme inline {
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-foreground: var(--foreground);
	--color-additional: var(--additional);
}

@layer utilities {
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
}
